html {
  overflow-y: auto;
}

[v-cloak] {
  display: none;
}

footer.container {
  margin-top: 1rem;
}

.day-background, .spec-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
  overflow: hidden;
}

.side-image {
  position: fixed;
  bottom: 0;
  right: 0;
}

.main {
  margin-top: 4rem;
}

.spec {
  margin: 0;
  padding: 0;
  border: none;
}

.is-filled {
  padding: 0;
  overflow: hidden;
}

.no-background {
  background: transparent;
  border: none;
}

.subtitle a {
  font-weight: bold;
}

.subtitle a:hover {
  color: #00000055;
}

.color-red .day-background {
  background-color: #46080b;
}
.color-red .box {
  background-color: #ff2222aa;
}
.color-red a {
  color: #ff2222;
}
.color-red .subtitle,
.color-red .subtitle a:not(:hover) {
  color: #550000;
}

.color-orange .day-background {
  background-color: #ffaa77;
}
.color-orange .box {
  background-color: #ffcc99;
}
.color-orange a {
  color: #009999;
}

.color-yellow .day-background {
  background: radial-gradient(at top, #ffddbb, #ffffdd);
}
.color-yellow a {
  color: #ffaa77;
}

.color-green .day-background {
  background-color: #66c1b2;
}
.color-green a,
.color-dark-green a {
  color: #295a4f;
}
.color-green .box,
.color-dark-green .box {
  background-color: #295a4f;
}
.color-green .subtitle,
.color-dark-green .subtitle {
  color: #ecd6b5;
}
.color-green .subtitle a:not(:hover),
.color-dark-green .subtitle a:not(:hover) {
  color: #66c1b2;
}

.color-dark-green .day-background {
  background-color: #66c1b2;
}
.color-dark-green .spec-background {
  background: linear-gradient(#002211 40%, #44af90);
}
.color-dark-green .side-image {
  left: 0;
}
.color-dark-green .spec-background p {
  padding-top: 1rem;
  color: white;
  text-shadow: 0 0 10px white;
  font-family: 'IM Fell Double Pica', serif;
}

.color-blue .day-background {
  background: linear-gradient(#ddddee, #bbddee, #9effff);
}
.color-blue .box {
  background-color: #cceeff;
}

.color-purple .day-background {
  background-color: rgb(35, 7, 66);
}
.color-purple .box {
  background-color: #ccbbff55;
}
.color-purple .subtitle {
  color: white;
}
.color-purple footer a:hover {
  color: #00eeee;
}
.color-purple .subtitle a:not(:hover) {
  color: #00eeee;
}

.color-black .day-background {
  background-color: #2a2a2a;
}
.color-black .box {
  background-color: #4a4a4a;
}
.color-black .subtitle {
  text-align: right;
  color: #aaaaaa;
}
.color-black a {
  color: #aaaaaa;
}
.color-black a:hover {
  color: gray;
}

.expand-tile {
  position: relative;
  padding-bottom: 100%;
}

.cover-tile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* safari doesn't respect overflow on absolutely positioned element */
  border-radius: 6px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  footer.container {
    margin-bottom: 15vh;
  }
  .box {
    display: flex;
    overflow: hidden;
  }
  .color {
    padding: 10%;
  }
}
